<h2>Results:</h2>
<br>
<hr>
<div class="indeed">
<% results.forEach(function(result){ %>
  <img src="images/indeed.jpg" height="40px" width="100px">
  <h3><a class="title" href="https://www.indeed.com<%= result.link %>"><%= result.title %></a></h3>
  <h5 class="company"> <%= result.company %> <h5>
  <p class="summary"> <%= result.summary %> </p>

  <form id="saveJob" action="/profile" method="post">
    <input type="hidden" name="link" value="https://www.indeed.com<%= result.link %>"></input>
    <input type="hidden" name="title" value="<%= result.title %>"></input>
    <input type="hidden" name="summary" value="<%= result.company %>"></input>
    <input type="hidden" name="company" value="<%= result.summary %>"></input>

    <input type="submit" class="btn btn-success saveJob" value="Save job">
  </form>
  <hr>
<% }); %>

</div>
